
:root{
    --fn_nav_height: 2.0rem
}

.extrabody-content{
    /* border: solid #00F 2px; */
    background-color: #EFEFEF;
    height: var(--fn_nav_height);
}


.wy-grid-for-nav {
    top: var(--fn_nav_height);
    height: calc(100% - var(--fn_nav_height));
    /* height: 90%; */
    overflow-y: auto;
    position: fixed;
}


.wy-nav-side {
    top: var(--fn_nav_height);
    z-index: 2;
}

.float-left {
    margin-left: 95px;  /* Left spacing */
    margin-right: 20px; /* Right spacing */
}

.float-right {
    margin-left: 15px;  /* Left spacing */
    margin-right: 85px; /* Right spacing */
}

.custom-center {
    margin: 20px 20px 0px 390px;  /* Top, Right, Bottom, Left spacing */
}

/* 
 * 1. Modify the table to have orange-white gradient zebra striping and add borders on all sides.
   2. Modify the heading style and apply it by default.
   3. Hide the original icon 
   4. Modify the style of custom icons.
   5. Modify the page width

 * author: vegetable-syc

 * date: 2025/05/27
 */

table.freenove-ow {
  border-collapse: collapse;
  width: auto;
  margin: auto auto;
  /* border-radius: 8px; */
  overflow: hidden;
  background: rgb(0, 0, 0);
}

table.freenove-ow td, 
table.freenove-ow th {
  padding: 14px 16px !important;
  border: 1px solid #000000 !important;
}

table.freenove-ow tbody tr:nth-child(even) {
  background-color: #f7e0c5;
  font-family: "DengXian";
  font-size: 20px;
}

table.freenove-ow thead tr:nth-child(odd) {
  background-color: #ff7b00;
  color: #ffffff;
  font-weight: bold;
  font-family: "DengXian";
  font-size: 20px;
}

/* Heading 1 */
h1 {
    color: #ff7b00;
    font-size: 35px;
    font-family: "DengXian";
    font-weight: normal;
}

/* Heading 2 */
h2 {
    background-color: #ff7b00;
    font-size: 30px;
    font-family: "DengXian";
    color: white;
    width: 100%;
    height: 40px;
    padding: 3px 2px;
    font-weight: normal;
}

/* Heading 3 */
h3 {
    color: #ff7b00;
    font-size: 30px;
    font-family: "DengXian";
    font-weight: normal;
}

/* Heading 4 */
h4 {
    color: #ff7b00;
    font-size: 20px;
    font-family: "DengXian";
    font-weight: normal;
}

[class^="admonition-"] .admonition-title::before {
    content: "" !important;
}

[class^="admonition-"] .admonition-title {
    background-color: #ff7b00 !important;
    background-image: url('../images/freenove_admonition.png');
    background-repeat: no-repeat;
    background-position: left 5px center;
    background-size: 24px 24px;
    padding-left: 30px;                
    line-height: 24px;
    /* border-radius: 3px !important; */
}

div[class^="admonition-"] {
    background-color: #dba7594d !important;
}

/* Adjust the width of the main content area */
.wy-nav-content {
    max-width: 1200px !important; /* Default: 800px */
    margin: left;
}

/* Adjust the width of code blocks and tables */
.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal !important;
}

.rst-content .code-block,
.rst-content pre.literal-block {
    max-width: 100%;
    overflow-x: auto;
}