@charset "utf-8";
/* CSS Document */
:root{
    --fn_nav_height: 2.0rem;
	--fn_nav_fontsize: 1.5rem;
}

.nav_fn {
	/* border: solid #F00 5px; */
	/* background-color: rgb(52, 49, 49); */
	/* background-color: solid #000; */
	background-color:#343131;
	position: absolute;
	width: fit-content;
	height: auto;
	left: 0;
	top: 0;
	z-index: 1;
	opacity: 1;
}

/* Turn the ul list itself into a Flexbox container */
.nav_fn ul {
	display: flex; 
	flex-wrap: nowrap; 
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.nav_fn li {
	display: flex; 
	justify-content: center; 
	align-items: center;     
	
	flex-grow: 1;   
	flex-shrink: 1; 
	flex-basis: 0;  

	height: var(--fn_nav_height);
	cursor: pointer;
	text-align: center;
}

/* Set fixed width for custom toggle button */
.nav_fn ul .nav-side-toggle {
    flex-grow: 0;      
    flex-shrink: 0;     
    flex-basis: 45px;  
    display: none;      
}

/* Fill the entire li tag */
.nav_fn a.dropBtn {
	display: block;
	width: 100%;
	height: 100%;
	line-height: var(--fn_nav_height); /* Ensure text is vertically centered */
}

/* Show custom buttons on mobile only */
@media screen and (max-width: 767px) {
    .nav_fn ul .nav-side-toggle {
        display: flex; /* Keep centered alignment on mobile */
    }
}

.navLogo {
	background: url(../component-imgs/freenove-logo.png) no-repeat center;
	background-size: 100%;
	float: left;
	width: auto;
	height: var(--fn_nav_height);
}

.nav_fn .navDropDown {
	width: 100%;
	height: 100%;
	position: relative;
}

.nav_fn .dropBtn {
	/* border: solid #00F 2px; */
	display: inline-block;
	color: white;
	text-align: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.nav_fn a:hover,
.navDropDown:hover .dropBtn {
	background-color: #111;
}

.nav_fn .navDropDown {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.nav_fn .dropDownContent {
	width: 100%;
	background-color: #F9F9F9;
	position: absolute;
	display: none;
	box-shadow: 0px 8px 15px 5px rgba(0, 0, 0, 0.8);
}

.nav_fn .dropDownContent a {
	color: black;
	text-decoration: none;
	display: block;
}

.nav_fn .dropDownContent a:hover {
	background-color: #F1F1F1;
}

.nav_fn .navDropDown:hover .dropDownContent {
	display: block;
}

nav.wy-nav-top {
    display: none !important;
}

.nav-side-btn {
    height: 100%;
    width: 100%;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-side-btn:hover {
    background-color: #111;
}

.nav_fn > ul > li:not(:first-child) {
    border-left: 1px solid #555; /* Color and thickness of the divider line */
}

/* Display custom buttons on mobile (screen width less than 768px) */
@media screen and (max-width: 767px) {
    .nav_fn ul .nav-side-toggle {
        display: block;
    }
}
